//
@media print {
    body * {
      visibility: hidden;
    }
    #invoice, #invoice * {
      visibility: visible;
    }
    #invoice {
      position: absolute;
      left: 0;
      top: 0;
    }
  }